* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  background-color: burlywood;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-player {
  background: #ffe0e6;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

nav .circle {
  border-radius: 50%;
  background-color: aliceblue;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: rgb(51, 34, 11);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.song-img {
  width: 220px;
  border-radius: 50%;
  border: 8px solid #ffefff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.music-player h1 {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  margin-top: 20px;
}

.music-player p {
  font-size: 14px;
  color: #555;
}

#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #bd87d6;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #f531e8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid rgb(223, 188, 184);
  box-shadow: 0 3px 5px rgb(186, 138, 177);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls div {
  width: 60px;
  height: 60px;
  margin: 0 20px;
  background-color: #ffefff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: rgb(201, 90, 199);
  box-shadow: 0 10px 20px rgb(223, 183, 218);
  cursor: pointer;
  transition: 0.2s;
}

.controls div:nth-child(2) {
  transform: scale(1.2);
  background: pink;
  color: white;
}

.controls div:hover {
  transform: scale(1.3);
  box-shadow: 0 10px 25px rgba(255, 182, 193, 0.6);
}
