*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    padding: 0.5%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.content{
    text-align: center;
}
.content h1 {
    font-size: 100px;
    color: aliceblue;
    font-weight: 700;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px rgb(152, 198, 183);
}
.content a {
    text-decoration: none;
    display:inline-block;
    color: beige;
    font-size:24px ;
    border: 2px solid whitesmoke;
    padding: 14px 50px;
    margin-top:20px ;
    transition: 0.5s;
}
.content a:hover{
    background:linear-gradient(rgb(129, 87, 87),pink);
    color: black;
}
@media (min-aspect-ratio :16/9) {
    .back-video   {width: 100%;
    height: auto;
}
}
@media (max-aspect-ratio :16/9) {
    .back-video   {width: auto;
    height: 100%;
}
}
